<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.Initialize.ShowXdbInfo, Sitecore.Analytics">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete />
        </processor>
      </initialize>
    </pipelines>

    <hooks>
      <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
      <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
    </hooks>
    
    <scheduling>
      <agent type="Sitecore.Tasks.CounterDumpAgent">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.UrlAgent">
        <patch:delete />
      </agent>
    </scheduling>
    
    <settings>
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Analytics.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Xdb.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Xdb.Tracking.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="ItemCloning.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="DeviceDetection.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Media.RequestProtection.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Media.RequestProtection.Logging.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="SegmentBuilder.VisitorCountsEnabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="ContentTesting.AutomaticContentTesting.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>